:root {
  /* --------------------- */
  /* Color */
  /* --------------------- */
  --brandcolor: #820333;
  --color-base: #820333;

  --color-light: #f0433a;
  --color-medium: #c9283e;
  --color-dark: #540032;
  --color-darker: #2e112d;

  --primary-color: var(--brandcolor);
  --secondary-color: var(--color-light);

  --accent-color: #bc4ff0;
  --accent-color-dark: #5e2778;

  --black: #333;
  --white: #fff;

  --color-background: #fff;

  --highlight: #ffd93f;
  --error: #ff2d00;

  --stdshadow: 3px 3px 5px #dadada;
  --bq-border: 10px solid var(--color-light);

  /* --------------------- */
  /* Media sizes*/
  /* --------------------- */
  /* MOBILE ONLY */
  /* @media screen and (max-width: 599px) {
    .content {
    }
  } */

  /* TABLET and larger */
  /* @media screen and (min-width: 600px) {
    some-content
  } */

  /* DESKTOP and larger */
  /* @media screen and (min-width: 900px) {
    some-content
  } */

  /* YUGE DESKTOP */
  /* @media screen and (min-width: 1800px) {
    some-content
  } */

  /* --------------------- */
  /* Typograpgy */
  /* --------------------- */

  /* Body */
  --font-stack: Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;
  --font-size: 1rem;
  --body-font-size: 1rem;

  --font-style: normal;
  --font-variant: normal;
  --font-weight: normal;
  --font-color: var(--black);
  --line-height: 1.6;

  /* Headings */
  --heading-font-color: var(--black);
  --heading-font-weight: 400;
  --heading-font-family: var(--font-stack);
  --heading-line-height: 1.2;

  /* Mobile heading font size */
  --h1-mobile: 1.75rem;
  --h2-mobile: 1.5rem;
  --h3-mobile: 1.25rem;
  --h4-mobile: 1.1rem;
  --h5-mobile: 1rem;

  /* Heading font size */
  --h1: 2rem;
  --h2: 1.75rem;
  --h3: 1.55rem;
  --h4: 1.25rem;
  --h5: 1rem;

  /* --------------------- */
  /* Padding */
  /* --------------------- */
  --padding: 1rem;
  --margin: 1.5rem;
  --content-padding: 60px 0;
  --content-padding-mobile: 30px 0;

  /* Links */
  --link-fg: var(--brandcolor);
  --link-bg: var(--color-background);
  --link-hover: var(--color-darker);

  /* --------------------- */
  /* Borders */
  /* --------------------- */
  --border-width: 1px;
  --border-style: solid;
  --border-color: #dedede;
  --border-radius: 4px;
  --borders: var(--border-width) var(--border-style) var(--border-color);

  /* --------------------- */
  /* Tables */
  /* --------------------- */
  --table-border: var(--border-color);
  --table-border-color: var(--border-color);
  --table-stripes: #f8f8f8;
  --table-caption: #ababab;

  /* --------------------- */
  /* Code */
  /* --------------------- */
  --code-color: var(--font-color);
  --code-color-bg: rgb(235, 235, 235);
  --code-size: 14px;
  --code-family: Menlo, monospace;
  --code-background: transparent;
  --code-borders: var(--borders);

  /* --------------------- */
  /* Forms / Inputs */
  /* --------------------- */
  --input-background: transparent;
  --placeholder: var(--color-dark);
  --form-border: 1px solid #cdcdcd;
  --form-border-hover: 1px solid #b9b9b9;

  /* --------------------- */
  /* Buttons */
  /* --------------------- */
  --button-background: var(--primary-color);
  --button-background-hover: var(--color-dark);
  --button-color: #ffffff;
  --button-font-weight: 600;
  --button-font-family: var(--font-stack);
  --button-font-size: 1rem;
  --button-border-width: 1px;
  --button-border-style: solid;
  --button-border-color: var(--button-background);
  --button-border-radius: var(--border-radius);
  --button-text-transform: none;

  /* Accent buttons */
  --accent-button-background: var(--secondary-color);
  --accent-button-color: #ffffff;
  --accent-button-color-hover: #ffffff;

  /* Muted Buttons */
  --muted-border: 1px solid var(--accent-color);
  --muted-border-hover: 1px solid var(--accent-color-dark);
  --muted-background: transparent;
  --muted-background-hover: transparent;
  --muted-color: var(--accent-color-dark);
  --muted-color-hover: var(--accent-color-dark);

  /* Round Buttons */
  --round-buttons: 40px;
}

.brandcolor {
  color: var(--brand-color);
}
