.clear {
  clear: both;
}

.docs {
  height: 100%;
}

.docs--content {
  margin-left: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 600px) {
  .docs--content {
    margin-left: 240px;
  }
}
