.meters-wrap {
  background-color: #2e112d;
  height: 100%;
}

.meters-header {
  width: 100%;
}

.meters-title {
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 30px 0;
  padding: 30px 0 0 0;
  color: #f0433a;
  text-align: center;
  width: 100%;
}

.meters-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.meters-meterwrap {
  display: inline-block;
  width: 244px;
  padding: 20px;
  margin: 20px;
  background-color: #540032;
}

.meters-nobg {
  background-color: white;
}
